*
!.gitignore
!*.sh
!*.bat
!steamapps/
!steamapps/common/
!steamapps/common/Empyrion - Dedicated Server/
!steamapps/common/Empyrion - Dedicated Server/*.cmd
!steamapps/common/Empyrion - Dedicated Server/*.yaml