*
!.gitignore
!*.sh
!*.bat
!steamapps/
!steamapps/common/
!steamapps/common/Empyrion - Dedicated Server/
!steamapps/common/Empyrion - Dedicated Server/*.cmd
!steamapps/common/Empyrion - Dedicated Server/*.yaml
!steamapps/common/Empyrion - Dedicated Server/Saves/
!steamapps/common/Empyrion - Dedicated Server/Saves/Games/
!steamapps/common/Empyrion - Dedicated Server/Saves/Games/**

!steamapps/common/Empyrion - Dedicated Server/Content/
!steamapps/common/Empyrion - Dedicated Server/Content/Scenarios/
!steamapps/common/Empyrion - Dedicated Server/Content/Scenarios/ReforgedEden/
!steamapps/common/Empyrion - Dedicated Server/Content/Scenarios/ReforgedEden/**
!steamapps/common/Empyrion - Dedicated Server/Content/Scenarios/ReforgedEden2/
!steamapps/common/Empyrion - Dedicated Server/Content/Scenarios/ReforgedEden2/**